body {
  margin: 0;
}
.modal-hidden {
  display: none;
}
.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2000;
}
.modal {
  position: absolute;
  z-index: 2000;
  width: 200px;
  height: 200px;
  background-color: white;
  left: 50%;
  top: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
